version: '3.3'
services:
  elasticsearch:
    container_name: hcd-demo-es
    image: docker.elastic.co/elasticsearch/elasticsearch:7.12.1
    environment:
      - node.name=hcd-demo-es
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es-data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - elastic

  kibana:
    image: docker.elastic.co/kibana/kibana:7.12.1
    container_name: hcd-demo-kibana
    environment:
      ELASTICSEARCH_URL: http://hcd-demo-es:9200
      ELASTICSEARCH_HOSTS: http://hcd-demo-es:9200
    ports:
      - 5601:5601
    networks:
      - elastic
  
  logstash:
    image: docker.elastic.co/logstash/logstash:7.12.1
    container_name: hcd-demo-ls
    ports:
      - "5044:5044"
    volumes:
      - ./logstash/conf.d/:/usr/share/logstash/pipeline/
      - ./logstash/log/:/home/
    networks:
      - elastic

volumes:
  es-data:
    driver: local

networks:
  elastic:
    driver: bridge
